<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../css/style.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <title>We Would Like to Hear From You!</title>

</head>

<body>

  <header class="mt-0 header col-sm-12 bg-footer">
    <div>
      <h1>Pick & Trade</h1>
      <p>Level Up Your Closet</p>
    </div>

    <div class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse navbar-dark bg-dark"
          id="navbarText"
        >
          <ul class="navbar-nav mr-auto">
            <li class="navbar-dark bg-dark nav-item">
              <a class="nav-link" href="index.html"
                >Home <span class="sr-only"></span
              ></a>
            </li>
            <li class="navbar-dark bg-dark nav-item">
              <a class="nav-link" href="profile.html"
                >Profile <span class="sr-only"></span
              ></a>
            </li>

            <li class="navbar-dark bg-dark nav-item active ">
              <a class="nav-link" href="contactUs.html"
                >About Us<span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

 

  <div id="carouselExampleControls">

    <a href="../views/listing.html"><img src="../assets/banner1.png" class="d-block w-100" alt="tradewebsite"></a>

  </div>

  <div>

    <div>

      <p class="mt-3 p-3 ">We are planning to create an application that help people get rid of their unwanted clothing
        in trade of reward points that can be used to get clothing from other users. Our app will give the users the
        opportunities to add a list of clothing that they aim to get rid of and other users can send a request to take
        them. User has the ability to accept or decline the request based on their preference. </p>

    </div>

    <div class="row m-3 p-3">

      <p class="col-sm-12"><b>The presentation layer</b> will compose of the following: </p>

      <div >

        <ol class="list-group">

          <li class="list-group-item"> 1- Home page: a page that will contains a list of clothing from everyone on the
            app.</li>

          <li class="list-group-item">2- Detailed clothing page: a page that will show more details about the item that
            the user chooses & the ability to send a request. </li>

          <li class="list-group-item"> 3- Items Listed: a page that will contains a list of the clothing that the user
            post on the app.</li>

          <li class="list-group-item">4- Request Page: a page that contains a list of requests received from other user
            to specific piece of clothing. </li>

        </ol>

      </div>

    </div>

    <div class="row m-3 p-3">

      <div class="row col-sm-12">

        <p><b>The business logic tier </b>will have a couple of significant use cases: <br> </p>

      </div>

      <div>

        <ol class="list-group">

          <li class="list-group-item"> 1- Post a trade item </li>

          <li class="list-group-item">2- Accept/decline request </li>

          <li class="list-group-item"> 3- send request</li>

          <li class="list-group-item">4- Increment/decrement points </li>

          <li class="list-group-item">5- Browse trade items from all the users. </li>

        </ol>

      </div>

    </div>

  </div>

  <div>

    <p class="mt-3 p-3">We are sure that our project will deserve a 100% since we have added all the required
      functionality and design the app in proper way. </p>

    <h4 class=" p-3">Pick & Trade Team </h4>

  </div>

  <footer class="mt-0 footer bg-footer">

    <div class="row bg-dark custom-footer-bg">

    </div>

    <div class="row bg-footer">

      <div class="col-sm-4">

        <img src="../assets/logo.png" height="200px" width="200px" />

      </div>

      <div class="col-sm-4">

        <br />

        <p class="text-light font-weight-bold align-middle">

          Pick & Trade Services

        </p>

        <a class="nav-link text-light" href="profile.html">Profile <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light" href="listing.html">Listing <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light" href="requests.html">Requests <span class="sr-only">(current)</span></a>

      </div>

      <div class="col-sm-4">

        <br />

        <br />

        <br />

        <br />

        <a href="aboutUs.html" class="text-light mb-3 font-weight-bold align-middle">About US</a>

      </div>

    </div>

  </footer>

</body>

</html>