<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style.css" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        />
    
        <title>Pick & Trade</title>
      </head>
    



  <body>
    <header class="mt-0 header col-sm-12 bg-footer">
      <div>
        <h1>Pick & Trade</h1>
        <p>Level Up Your Closet</p>
      </div>

      <div class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse navbar-dark bg-dark"
            id="navbarText"
          >
            <ul class="navbar-nav mr-auto">
              <li class="navbar-dark bg-dark nav-item">
                <a class="nav-link" href="index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="navbar-dark bg-dark nav-item">
                <a class="nav-link" href="profile.html"
                  >Profile <span class="sr-only"></span
                ></a>
              </li>

              <li class="navbar-dark bg-dark nav-item">
                <a class="nav-link" href="contactUs.html"
                  >About Us<span class="sr-only"></span
                ></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="row text-center">
      <div class="col-sm-5 mt-4"></div>
      <div class="mt-4">
        <h2 class="card-title">Add An Item</h2>
        <p class="card-text">PLEASE FILL THE REQUIRED FIELD*</p>
      </div>
    </div>

    <div class="row">
<div class="col-2">
    
</div>
    <form class="col-sm-8 ">

        
      <div class="form-group">
        
        <label for="productName">Title*</label>
        <input
          type="text"
          class="form-control"
          id="productName"
          placeholder="Enter item name"
          required/>
      </div>

      <div class="form-group">
        <label for="productDescreption" class="mt-4">Product Description*</label>
        <textarea
          class="form-control"
          id="productDescreption"
          rows="3"
          placeholder="Enter item description"
          required></textarea>
      </div>
<div class="row">


      <div class="form-group col-sm-6">
        <label for="productDescreption" class="mt-4 ">Choose the category*</label>
        <select class="form-control">
          <option>Pants</option>
          <option>Tops</option>
          <option>Dress</option>
          <option>Accessory</option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label for="productPoints" class="mt-4 ">Point Cost*</label>
        <input type="number" class="form-control"id="productPoints"placeholder="Enter item cost"required/>

      </div>
      </div>


      <div class="row dotted col-sm-12 mt-5 ml-1 text-secondary">
        <div class="form-group ">
            <label for="choosePicture" class="mt-2 text-dark">Media*</label><br>
            <input accept="image/*" type="file" class="form-control-file" id="imgInp" required accept=".jpg , .png" required />
            <img id="previewProduct" src="" alt="" height="150px" width="150px"/> 
          </div>

    </div>
      

    <div class="row">

        <div class="col-sm-5"><p></p></div>
        <div class="col-sm-3">
            <button id="addNewListing"type="submit" class="btn btn-info mt-5 mb-5 btnAdd">Add Item</button>                
        </div>

    </div>
    
      
    </form>


</div>

    <footer class="mt-0 footer bg-footer">
      <div class="row bg-dark custom-footer-bg"></div>

      <div class="row bg-footer">
        <div class="col-sm-4">
          <img src="/assets/logo.png" height="200px" width="200px" />
        </div>
        <div class="col-sm-4">
          <br />
          <p class="text-light font-weight-bold align-middle">
            Pick & Trade Services
          </p>
          <a class="nav-link text-light" href="profile.html"
            >Profile <span class="sr-only">(current)</span></a
          >

          <a class="nav-link text-light" href="listing.html"
            >Listing <span class="sr-only">(current)</span></a
          >
        </div>

        <div class="col-sm-4">
          <br />
          <br />
          <br />
          <br />
          <a
            href="contactUs.html"
            class="text-light mb-3 font-weight-bold align-middle"
            >About US</a
          >
        </div>
      </div>
    </footer>
    <script src="../javascript/addItemscript.js"></script>
  </body>
</html>
