<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>We Would Like to Hear From You!</title>
  </head>
  <body>
    <div class="row">
      <div id="myDIV" class="header col-sm-12 custom-bg">
          <h1>Pick & Trade</h1>
          <p>Level Up Your Closet</p>
      </div>
    </div>
    <div class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="navbar-dark bg-dark nav-item active">
              <a class="nav-link" href="index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="navbar-dark bg-dark nav-item">
              <a class="nav-link" href="profile.html"
                >Profile <span class="sr-only"></span></a
              >
            </li>
            <li class="navbar-dark bg-dark nav-item">
              <a class="nav-link" href="listing.html">Listing</a>
            </li>
            <li class="navbar-dark bg-dark nav-item">
              <a class="nav-link" href="requests.html">Requests</a>
            </li>
          </ul>
          <span class="navbar-dark bg-darknavbar-text">
            <a class="nav-link text-light" href="contactUs.html">About Us</a>
          </span>
        </div>
      </nav>
    </div>




    <h1>profile</h1>
    <footer class="mt-0 footer bg-footer">


      <div class="row bg-dark custom-footer-bg">
      </div>


      <div class="row bg-footer">
        <div class="col-sm-4">
          <img src="/assets/logo.png" height="200px" width="200px" />
        </div>
        <div class="col-sm-4">
          <br />
          <p class="text-light font-weight-bold align-middle">
            Pick & Trade Services
          </p>
          <a class="nav-link text-light" href="profile.html"
            >Profile <span class="sr-only">(current)</span></a
          >
          <a class="nav-link text-light" href="listing.html"
            >Listing <span class="sr-only">(current)</span></a
          >
          <a class="nav-link text-light" href="requests.html"
            >Requests <span class="sr-only">(current)</span></a
          >
        </div>

        <div class="col-sm-4">
          <br />
          <br />
          <br />
          <br />
          <a
            href="contactUs.html"
            class="text-light mb-3 font-weight-bold align-middle"
            >About US</a
          >
        </div>
      </div>
    </footer>


      
  </body>
</html>
