<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../css/style.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>We Would Like to Hear From You!</title>

</head>

<body>

  <header class="mt-0 header col-sm-12 bg-footer">

    <div>

      <h1>Pick & Trade</h1>

      <p>Level Up Your Closet</p>

    </div>

    <div class="bg-dark">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarText">

          <ul class="navbar-nav mr-auto">

            <li class="navbar-dark bg-dark nav-item">

              <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>

            </li>

            <li class="navbar-dark bg-dark nav-item active">

              <a class="nav-link" href="profile.html">Profile <span class="sr-only">(current)</span></a>

            </li>

            <li class="navbar-dark bg-dark nav-item">

              <a class="nav-link" href="contactUs.html">About Us<span class="sr-only">(current)</span></a>

            </li>

          </ul>

        </div>

      </nav>

    </div>

  </header>

  <div class="nav nav-pills" >
    <div class="row col-sm-12 p-4 align-middle">
      <a id="saveBtn" class="btn btn-info m-2">Save</a>
    </div>
    <!-- profile main info -->

    <div class="colom col-sm-3 ml-5">

      <!-- Name,Bio,Listing -->

      <div class="mt-3">

        <div class="card text-center">

          <img class="rounded-circle" id="profileImg" src="../assets/profile.jpeg" alt="Card image cap" />

          <div class="card-body">

            <input id ="profileName"class="card-title" value="Hebat" disabled>
            <br>
            <textarea id ="profileBio" class="form-control" id="exampleFormControlTextarea1" rows="3" value="Love Levelling up my closet and help others as well. Your dream is similar to my display window." disabled></textarea>
            <br>
            <a id="editProfileBtn" class="btn btn-info ml-2">Edit Profile</a>

          </div>

        </div>

      </div>

      <!-- socialMedia -->

      <div class="mt-2 mb-3">

        <ul class="list-group">

          <li  class="list-group-item d-flex justify-content-between small">
            <input id ="fbLink" value="Link" disabled>
            <p  class="badge badge-primary badge-pill mt-3"><a id= "fbLink" href="#" class="fa fa-facebook"></a></p>

          </li>

          <li class="list-group-item d-flex justify-content-between small ">
            
            <input id ="linkLink" value="Link" disabled>
            <p  class="badge badge-primary badge-pill mt-3"><a id= "linkLink" href="#" class="fa fa-linkedin"></a></p>

          </li>

          <li  class="list-group-item d-flex justify-content-between small">

            <input id ="instaLink" value="Link" disabled>
            <p  class="badge badge-primary mt-3 badge-pill"><a id= "instaLink"href="#" class="fa fa-instagram"></a></p>

          </li>

        </ul>

      </div>

    </div>

    <div class="colom col-sm-8 mt-3">

      <!-- detailed information -->

      <ol class="list-group">

        

        <li class="list-group-item d-flex justify-content-between align-items-center">

          Email <input id="profileEmail" class="text-muted" value = "Hebat@gmail.com" disabled>

        </li>

        <li  class="list-group-item d-flex justify-content-between align-items-center">

          Phone Number

          <input id="ProfilePhoneNumber" class="text-muted" value="999-000-0000" disabled>

        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">

          Area

          <input class="text-muted" value="Oakville, ON" disabled>

        </li>

      </ol>


      <!-- Questions -->
      <div class="row mt-2">

       

        <div class="col-12 mt-2">

          <ul  id="listingProduct"class="list-group">

            <li>
              <h1>LISTING</h1>
            </li>
          </ul>

        </div>

      </div>



      <!-- Requests -->
      <div class="col-sm-2 mt-2">

      </div>

    </div>

  </div>

  <footer class="mt-0 footer bg-footer">

    <div class="row bg-dark custom-footer-bg"></div>

    <div class="row bg-footer">

      <div class="col-sm-4">

        <img src="/assets/logo.png" height="200px" width="200px" />

      </div>

      <div class="col-sm-4">

        <br />

        <p class="text-light font-weight-bold align-middle">

          Pick & Trade Services

        </p>

        <a class="nav-link text-light" href="profile.html">Profile <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light" href="listing.html">listing<span class="sr-only">(current)</span></a>

      </div>

      <div class="col-sm-4">

        <br />

        <br />

        <br />

        <br />

        <a href="contactUs.html" class="text-light mb-3 font-weight-bold align-middle">About US</a>

      </div>

    </div>

  </footer>

  <script src="../javascript/profilescript.js"></script>


</body>

</html>